.header nav li, .header nav li a {
	display: inline;
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.header nav li a:hover {
	color: grey;
}

.header h1 {
	position: absolute;
	left: 20px;
	top: 0;
	margin-top: 10px;
}

.home-content {
	display: flex;
	flex-direction: column;
}

.the-girls, .mission, .header, .mission-title {
	display: flex;
	justify-content: center;
}

.header {
	background-color: #f8f8f8;
}